img{
    position: absolute;
    transform: matrix(-50%,-50%);
    top: 20.5%;
    left: 25%;
    z-index: 0;

}

p1{
    position: absolute;
    transform: matrix(-50%,-50%);
    top: 8%;
    left: 27%;
    z-index: 1;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p2{
    position: absolute;
    transform: matrix(-50%,-50%);
    top: 18%;
    left: 65%;
    z-index: 1;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}